html {
  box-sizing: border-box;
}

body {
  background: #000428;  
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  flex: 0 0 100px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#004e92;
  margin-bottom:30px;
  font-size: 2.2rem;
  text-align: center;
}

.container {
  padding: 5rem 3rem;
  max-width: 600px;
  margin: 0 auto;
}

.campo-form {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.campo-form select, input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
}

.contenido {
  padding:20px;
}

.contenido-form {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.btn-block {
  background-color: #00838F;
  font-size: 16px;
  width: 100%;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: background-color .3s ease;
  margin-top: 2rem;
}

.btn-block:hover {
  background-color: #26C6DA;
  cursor: pointer;
}

.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}

.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: #fff;
}
